{% extends "users/base.html" %} {% block title %} About {% endblock title %}
{%block section %}
<section
  class="u-align-center u-clearfix u-white u-section-6"
  id="carousel_796c"
><!--
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-palette-3-light-1 u-text-1">
      Frequently Asked Questions
    </h2>
    <p class="u-text u-text-2">
      The below question helps you to use of our services..
    </p>
    <p class="u-text">
      It also includes our
      <span style="color: blue; font-weight: bold"
        >terms & condition and privacy</span
      >
    </p>
    <div
      class="u-accordion u-collapsed-by-default u-faq u-spacing-10 u-accordion-1"
    >
      <div class="u-accordion-item">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-1"
          id="link-accordion-f600"
          aria-controls="accordion-f600"
          aria-selected="false"
        >
          <span class="u-accordion-link-text"
            >What is college e-Certification ?</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-1"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-b6d8"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-b6d8"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-1"
          id="accordion-f600"
          aria-labelledby="link-accordion-f600"
        >
          <div class="u-container-layout u-container-layout-1">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>
                ज्ञानचक्षुस् हे एक सर्जनशील व्यासपीठ आहे. खासकरून बाल मित्रांना,
                विद्यार्थ्यांना आपले विचार, मत व कलागुणांना वाव मिळण्यासाठी चे
                हे एक उत्तम व्यासपीठ आहे. येथील ई - गणित वर्ग व ई - प्रकाशन हे
                उपक्रम विद्यार्थ्याचे आकर्षण बनले आहे.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-2"
          id="link-accordion-72f4"
          aria-controls="accordion-72f4"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">ई - गणित वर्ग -</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-2"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-b250"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-b250"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-2"
          id="accordion-72f4"
          aria-labelledby="link-accordion-72f4"
        >
          <div class="u-container-layout u-container-layout-2">
            <div class="u-clearfix u-rich-text u-text">
              <p>
                गणिता विषयीचा गैरसमज घालवणारा हा उपक्रम. जिथे तुम्हाला ५ वी ते ८
                वी मोफत गणित वर्ग, त्याच बरोबर ९ वी व १० वी साठी अगदी कमी
                शुल्कात शिकवणुकीचा आनंद घेता येतो.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-3"
          id="link-accordion-854e"
          aria-controls="accordion-854e"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">ई - प्रकाशन -</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-3"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-4779"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-4779"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-3"
          id="accordion-854e"
          aria-labelledby="link-accordion-854e"
        >
          <div class="u-container-layout u-container-layout-3">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>
                तुमच्या कविता, गाणी, गोष्टी, लेख, प्रेरणादायक व्हिडिओ, चित्रपट,
                इत्यादी असे साहित्य असेल तर ई-प्रकाशन ह्या उपक्रमात सहभाग
                नोंदवा. खात्रीने सांगतो, तुमचे साहित्य नक्कीच हजारो हृदयांना
                सरसावून स्पर्श करेल.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="u-accordion-item">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-3"
          id="link-accordion-854e"
          aria-controls="accordion-854e"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">स्पर्धा -</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-3"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-4779"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-4779"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-3"
          id="accordion-854e"
          aria-labelledby="link-accordion-854e"
        >
          <div class="u-container-layout u-container-layout-3">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>
                येथे विविध स्पर्धा आयोजित केल्या जातात. याविषयीची सर्व माहिती
                नोंदणी पृष्ठ महणजेच
                <a
                  href="http://dnyanchakshus.in/login.php"
                  style="font-weight: bold"
                  >http://dnyanchakshus.in/login.php</a
                >
                यावर उपलब्ध आहे. स्पर्धेविषयची सर्व धोरणे, अटी व शर्ती तसेच हक्क
                ज्ञानचक्षुस् कडे राखीव आहेत.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item u-expanded-width">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-4"
          id="link-accordion-f600"
          aria-controls="accordion-f600"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">नोंदणी कशी करावी ?</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-4"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-1e29"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-1e29"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-4"
          id="accordion-f600"
          aria-labelledby="link-accordion-f600"
        >
          <div class="u-container-layout u-container-layout-4">
            <div class="fr-view u-clearfix u-rich-text u-text">
              <p>
                ज्ञानचक्षुस् वर नोंदणी करणे अगदी सोपे आहे.याविषयीची सर्व माहिती
                नोंदणी पृष्ठ महणजेच http://dnyanchakshus.in/login.php यावर
                उपलब्ध आहे.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item u-expanded-width">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-5"
          id="link-accordion-f600"
          aria-controls="accordion-f600"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">शुल्क भरणा पद्धती?</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-5"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-58d2"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-58d2"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-5"
          id="accordion-f600"
          aria-labelledby="link-accordion-f600"
        >
          <div class="u-container-layout u-container-layout-5">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-7">
              <p>
                येथे रँझोरपे पेमेण्ट गेटवे चा वापर केला आहें याद्वारे तुम्ही
                कार्ड पेमेण्ट, युपीआय, नेट बँकिग, वाँलेट सुविधा इत्यादीचा वापर
                करून शुल्क भरणा किंवा देय करू शकता.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion-item u-expanded-width">
        <a
          class="u-accordion-link u-active-palette-3-light-2 u-button-style u-grey-5 u-hover-palette-4-light-2 u-accordion-link-5"
          id="link-accordion-f600"
          aria-controls="accordion-f600"
          aria-selected="false"
        >
          <span class="u-accordion-link-text">परतावा धोरण (Refund Policy)</span
          ><span
            class="u-accordion-link-icon u-icon u-text-active-white u-text-hover-white u-icon-5"
            ><svg
              class="u-svg-link"
              preserveAspectRatio="xMidYMin slice"
              viewBox="0 0 426.66667 426.66667"
            >
              <use xlink:href="#svg-58d2"></use></svg
            ><svg
              class="u-svg-content"
              viewBox="0 0 426.66667 426.66667"
              id="svg-58d2"
            >
              <path
                d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"
              ></path></svg
          ></span>
        </a>
        <div
          class="u-accordion-pane u-container-style u-expanded-width u-white u-accordion-pane-5"
          id="accordion-f600"
          aria-labelledby="link-accordion-f600"
        >
          <div class="u-container-layout u-container-layout-5">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-7">
              <p>
                देयके अपयशी ठरल्यास ५-७ दिवसांसह पैसे परत केले जातील. जर
                आपल्याला ते त्वरित हवे असेल तर आपल्याला त्वरित परतावा शुल्क
                भरावे लागेल. Money will be refund with 5-7 days in case of
                failure of payments. If you want it is instant then you have to
                pay instant refund charges.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<div class="container" style="max-width: 800px; margin: 40px auto; padding: 20px; background: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h1 style="text-align: center; border-bottom: 2px solid #2c3e50; padding-bottom: 10px; color: #2c3e50;">About e-Certification</h1>
  
  <div class="section" style="margin-bottom: 20px;">
      <h5 style="color: #2c3e50;">Who We Are</h5>
      <p style="text-align: left;">
          e-Certification is a cutting-edge digital certification platform designed to help educational institutions
          issue, manage, and verify digital certificates seamlessly and securely.
      </p>
  </div>
  
  <div class="section" style="margin-bottom: 20px;">
      <h5 style="color: #2c3e50;">Our Mission</h5>
      <p style="text-align: left;">
          Our mission is to revolutionize the way certifications are handled by eliminating paper-based processes
          and providing a secure, digital alternative that ensures authenticity and ease of access.
      </p>
  </div>
  
  <div class="section" style="margin-bottom: 20px;">
      <h5 style="color: #2c3e50;">Why Choose Us?</h5>
      <ul style="text-align: left;">
          <li>Secure and tamper-proof digital certification</li>
          <li>Easy verification process for employers and institutions</li>
          <li>Paperless and eco-friendly solution</li>
          <li>Seamless integration with existing systems</li>
      </ul>
  </div>
  
  <div class="section" style="margin-bottom: 20px;">
      <h5 style="color: #2c3e50;">Contact Us</h5>
      <p style="text-align: left;">
          For more information, inquiries, or partnerships, reach out to us at <strong>support@ecertification.in</strong>.
      </p>
  </div>
</div>

</section>
{% endblock section %}
