{% extends "users/base1.html" %} {% block title %}Home{% endblock %} {% block
content %}
<section>
  <h2>Welcome to College e-Certification</h2>
  <p>Your secure and fast solution for delivering certificates online.</p>
</section>
{% endblock %} {% block footer %}
<div class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 style="color: red">Custom Footer for Home Page</h3>
      <p>This footer is specific to the home page.</p>
    </div>
  </div>
</div>
{% endblock %}
